<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eggwall.android.photoviewer">

    <!-- To show a photo frame all day -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- To download images -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To store the files on external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- TODO: Enable full backup for the settings file. -->

    <!--

     usesClearTextTraffic="true" is required on newer versions of the Android platform where
     DownloadManager refuses to download http:// traffic. Safe on older version of Android
     where the attribute is unknown and therefore ignored.

     Also, round icons are stupid, so let's use the non-round icons across all systems. Most
     round icons I have seen only serve to enclose a non-round asset in a silly bubble.
     This cuts on overall usability since every icon looks the same and the user has to
     spend time looking carefully at what each icon really is.

    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.AppBarOverlay">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="photoviewer" android:host="eggwall"/>
            </intent-filter>

        </activity>
    </application>

</manifest>